/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

html, body {
  height: 100%; }

h1, h2, h3 {
  margin-bottom: 30px !important;
  margin-top: 30px !important; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.hero-image {
  height: 90vh;
  background: url("../images/stethoscope.png"), grey;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white; }

.hero-image h1 {
  color: white;
  font-size: 4rem;
  margin: 0px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35); }

.hero-image p {
  text-shadow: 0px 0px 2px #000; }

.navigation {
  text-align: center;
  background-color: #3aa5dc;
  color: white;
  width: 100%; }

#responsive-nav {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.navigation li {
  display: inline-block;
  margin-right: 1em;
  padding: 10px; }

.navigation li:hover {
  background-color: #0D69CC; }

.navigation li a {
  color: white;
  cursor: pointer;
  text-decoration: none; }

.footer ul {
  text-align: center;
  margin: 0;
  padding: 0; }

.footer li {
  list-style-type: none;
  margin-right: 1em;
  padding: 0; }
  .footer li a {
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    display: block; }

.footer a {
  margin: 5px; }

.navigation.pined {
  position: fixed;
  top: 0px;
  z-index: 200;
  -webkit-transition: all 1ms;
  -o-transition: all 1ms;
  transition: all 1ms; }

.blue.card:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px); }

.container .card {
  padding: 2em; }

button {
  margin: 30px; }

input, textarea {
  font-size: 1em;
  padding: 1em;
  border: none;
  outline: none;
  border-bottom: solid 1px #eee;
  background-color: transparent;
  width: 100%; }

#body {
  margin-top: 60px;
  max-width: 100%; }

#especialidades {
  background-position: 50% 50%;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed; }

#location {
  width: 80%;
  margin: 0 auto; }

#map {
  height: 500px; }

#menu-opener {
  display: none; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
.absolute {
  position: absolute; }

.bg-white {
  background-color: white; }

.bg-gray {
  background-color: #f4f6f7; }

.big-padding {
  padding: 2em 0 1.5em; }

.big-padding-2 {
  padding: 2em 1.5em; }

.big-top-space {
  margin-top: 3.5em; }

.blue {
  background-color: #007FF5; }

.blue-light {
  background-color: #b1d4e5; }

.black {
  background-color: black; }

.gray-darken {
  background-color: #212121; }

.card {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

.relative {
  position: relative; }

.full-height {
  height: 100%; }

.full-screen {
  height: 100%; }

.full-width {
  width: 100%; }

.large-padding {
  padding: 10px 15px; }

.medium, .navigation li {
  font-size: 1.5em; }

.nunito {
  font-family: 'Nunito', sans-serif; }

.montserrat {
  font-family: 'Montserrat', sans-serif; }

.row {
  margin: 0 !important; }

.subtitle {
  font-size: 3rem; }

.title {
  font-size: 4em; }

.top-30 {
  margin-top: 30px; }

.bottom {
  margin-bottom: 30px; }

.margin {
  margin: 30px !important; }

.medium, .navigation li {
  font-size: 1.5em; }

.no-margin {
  margin: 0; }

.up {
  z-index: 10; }

.white-text {
  color: white; }

.blue-text {
  color: #007FF5; }

.blue-light-text {
  color: #b1d4e5; }

.blue-dark-text {
  color: #123962; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.thin {
  font-weight: 200; }

.paragraph {
  font-size: 1.25rem;
  line-height: 1.50rem; }

.justify {
  text-align: justify; }

.video {
  max-width: 100%;
  max-height: 100%; }

.display-none {
  display: none; }

/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media only screen and (max-width: 960px) {
  .card {
    margin-top: 30px !important; }
  #doctor-desc {
    display: none; }
  #map {
    height: 300px; }
  #menu-opener {
    display: block;
    text-align: right; }
  #responsive-nav ul {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 30px;
    position: absolute;
    width: 100%;
    font-size: 1.5em;
    top: 40px;
    left: 0px;
    z-index: 200;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    #responsive-nav ul.active {
      max-height: 80vh;
      background-color: #3aa5dc; }
    #responsive-nav ul li {
      display: block;
      margin-top: 1em;
      padding: 10px 15px;
      width: 100%; } }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 5/4), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */