!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %meta{name:"description", content:"Medico internista con especialidad en gastroenterologia."}
    %meta{name:"keywords",content:"Medicina, Gastroenterologia, Medicina interna,Doctor,Medico"}
    %meta{name:"author",content:"Adan Jaciel Palacios Rivas | ajpalacios.sist@gmail.com"}
    %link{ rel:"icon", href:"images/icon.ico"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel: "stylesheet", href:"css/semantic.min.css"}
    %link{rel:"stylesheet", href:"css/main.css?version=3.1"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"}
    %link{ rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Montserrat"}
    %link{rel:"stylesheet",href:"https://fonts.googleapis.com/css?family=Nunito&amp;subset=latin-ext"}
    %link{rel:"stylesheet", href:"css/font-awesome/css/font-awesome.min.css"}
    %title Dr.Manuel Castellanos Neri
    %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1"}
    %script{src:"js/vendor/modernizr.min.js"}
  %body
    ="<!--[if lt IE 9]>"
    %p{class:"browserupgrade"}
      Estas usando un
      %strong navegador desactualizado.
      Por favor
      %a{href:"http://browsehappy.com/"}
        actualiza tu navegador
      para una mejor experiencia.
    ="<![endif]-->"
    #inicio.hero-image
      .row.full-height.middle-xs.center-xs.up
        .col-xs-12
          .box
            %h1.nunito Dr.Manuel Castellanos Neri
            %p.nunito.medium Médico Especialista en Gastroenterologia y Medicina Interna
      .absolute.full-width.large-padding.navigation#responsive-nav
        .row.middle-xs.center-xs
          .col-xs-12.col-sm-12
            %nav
              %i.fa.fa-times.fa.fa-bars.fa-3x#menu-opener
              %ul
                %li
                  %a.menu-link{href:"#inicio"} Inicio
                %li
                  %a.menu-link{href:"#especialidades"} Especialidades
                %li
                  %a.menu-link{href:"#conoce"} Conoce a tu Médico
                %li
                  %a.menu-link{href:"#ubicacion"} Cómo llegar
                %li
                  %a.menu-link{href:"#contact"} Contactame
    %section#body
      .big-padding.bg-white#especialidades
        .row.center-xs
          .col-xs-12
            .box
              %h3.top-30.bottom.montserrat.blue-dark-text.thin Mis Especialidades
          .row.center-xs
            .col-xs-7.col-sm-6.col-md-6
              .box
                .ui.link.cards
                  .card
                    .image
                      %img{src:"./images/stomach.png"}
                    .content
                      %p.header Especialidad
                      .meta
                        %span.date Gastroenterologia
                    .extra.content
                      %a{href:"gastroenterologia.html"}
                        %i.fa.fa-arrow-circle-right
                        Conoce más

            .col-xs-7.col-sm-6.col-md-6
              .box
                .ui.link.cards
                  .card
                    .image
                      %img{src:"./images/stetho.png"}
                    .content
                      %p.header Especialidad
                      .meta
                        %span.date Medicina interna
                    .extra.content
                      %a{href:"medicinaInterna.html"}
                        %i.fa.fa-arrow-circle-right
                        Conoce más
      .bg-gray.big-top-space#conoce
        .big-padding
          .row.center-xs
            .col-xs-12
              %h3.top-30.montserrat.blue-dark-text.thin Conoce a tu Médico
            .col-xs-6.col-sm-4.col-md-4
              .box
                .ui.link.cards
                  .card
                    .image
                      %img{src:"images/foto.png"}
                    .content
                      .header Manuel Castellanos Neri
                      .meta
                        %a{href:"cv.pdf",target:"blank"} Mi experiencia
                      .description
                        Mexico City
                    .extra.content
                      %span.right.floated Joined in 2013
            .col-md-4#doctor-desc
              .box
                .ui.stacked.segment
                  %p
                  Al Médico especialista en Gastroenterología
                  se le denomina Gastroenterólogo y como parte de su área es
                  especializarse primero en Medicnia Interna y posteriormente en Gastroenterología.
                  %br
                  %br
                  %i.fa.fa-hand-o-right
                  %a{href:"cv.pdf",target:"blank"}Conoce más sobre mi experiencia

      .big-top-space
        .bg-white.big-padding#ubicacion
          .row.center-xs.middle-xs
            .col-xs-10.col-md-8
              .box
                %h3.top-30.montserrat.thin.blue-dark-text Mi Consultorio
                %i.fa.fa-clock-o.fa-2x
                %span#isOpen.blue-dark-text.medium Abierto ahora
            .col-xs-12.col-md-8
              .box
                #location
                  #map.top-30
                  #message.blue-dark-text.bg-gray.large-padding
      .big-top-space
        .bg-gray.blue-dark-text.full-height.large-padding#contact
          .row.middle-xs.full-height
            .col-xs-12
              .box
                %form{id:"contact-form",action:"https://formspree.io/ajpalacios.sist@gmail.com",method:"POST"}
                  .row.center-xs.middle-xs
                    .col-xs-10.col-md-8
                      .box
                        %h3.montserrat.blue-dark-text.thin Enviame tus comentarios
                    .col-xs-12.col-md-6
                      .box
                        %input.field{type:"email",name:"email",
                          placeholder:"Coloca tu correo electrónico"}
                        %input.field{type:"text",name:"nombre",
                          placeholder:"Coloca tu nombre"}
                        %textarea.field{name:"body",placeholder:"Escribe aqui tu mensaje..."}
                        %button.ui.green.button{type:"submit"} Contactame

      .top-30
        .gray-darken.big-padding-2.footer#footer
          .row.center-xs.text-left
            .col-lg-9
              .box
                .row.center-xs.text-left
                  .col-xs-6.col-sm-3.col-md-3.col-lg-3
                    .box
                      %p.paragraph.white-text Enlaces
                      %ul
                        %li
                          %a.white-text.menu-link{href:"#especialidades"} Especialidades
                        %li
                          %a.white-text.menu-link{href:"#conoce"} Conoce a tu médico
                        %li
                          %a.white-text.menu-link{href:"#ubicacion"} Ubicación
                        %li
                          %a.white-text.menu-link{href:"#contact"} Contacto
                  .col-xs-6.col-sm-3.col-md-3.col-lg-3
                    .box
                      %p.paragraph.white-text Redes Sociales
                      %a{href:"https://www.facebook.com"}
                        %i.fa.fa-facebook-square.fa-2x.white-text
                      %a{href:"https://www.twitter.com"}
                        %i.fa.fa-twitter-square.fa-2x.white-text
                      %a{href:"https://www.gmail.com"}
                        %i.fa.fa-envelope.fa-2x.white-text
                  .col-xs-10.col-sm-10.col-md-12.col-lg-12
                    .box
                      .top-30
                      %p.thin.white-text Calle independencia #80 entre Vicente Guerrero y Callejon Morelos, San Francisco Tlaltenco Delegación Tlahuac Ciudad de México
                      %p.thin.white-text Telefonos:
                      %p.thin.white-text 55-51-96-18-98  /  55-34-60-09-96


  %script{src:"https://code.jquery.com/jquery-3.1.1.min.js"}
  %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyC4ObmRjEwgl4toHvl0bLhVeRZS0c_4Gps"}
  %script{src:"./js/semantic.min.js"}
  %script{src:"./js/form_object.js?version=2.0"}
  %script{src:"./js/main.js?version=3.1"}
  %script{src:"./js/vendor/maps.js?version=1.0"}
