!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %meta{name:"description", content:"Medico internista con especialidad en gastroenterologia."}
    %meta{name:"keywords",content:"Medicina, Gastroenterologia, Medicina interna,Doctor,Medico"}
    %meta{name:"author",content:"Adan Jaciel Palacios Rivas | ajpalacios.sist@gmail.com"}
    %link{ rel:"icon", href:"images/icon.ico"}
    %link{rel:"stylesheet", href:"css/normalize.css"}
    %link{rel: "stylesheet", href:"css/semantic.min.css"}
    %link{rel:"stylesheet", href:"css/main.css?version=3.2"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"}
    %link{ rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Montserrat"}
    %link{rel:"stylesheet",href:"https://fonts.googleapis.com/css?family=Nunito&amp;subset=latin-ext"}
    %link{rel:"stylesheet", href:"css/font-awesome/css/font-awesome.min.css"}
    %title Gastroenterologia
    %meta{name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1"}
    %script{src:"js/vendor/modernizr.min.js"}
  %body
    ="<!--[if lt IE 9]>"
    %p{class:"browserupgrade"}
      Estas usando un
      %strong navegador desactualizado.
      Por favor
      %a{href:"http://browsehappy.com/"}
        actualiza tu navegador
      para una mejor experiencia.
    ="<![endif]-->"
    .relative.full-width.large-padding.navigation#responsive-nav
      .row.middle-xs.center-xs
        .col-xs-12.col-sm-12
          %nav
            %i.fa.fa-times.fa.fa-bars.fa-3x#menu-opener
            %ul
              %li
                %a.menu-link{href:"index.html"} Volver al inicio

    %section
      .big-top-space.bg-white
        .row.full-height.middle-xs.center-xs.up
          .col-xs-12.col-md-10
            .box
              %h1.montserrat.medium.blue-dark-text Medicina Interna
          .col-xs-10.col-sm-8.col-md-6
            .box
              .ui.raised.segment.blue
                %p.paragraph.justify Es la especialidad médica que estudia las enfermedades del adulto siendo las más frecuentes: Diabetes Mellitus tipo II, Hipertensión Arterial, Dislipidemia, o  enfermedades del Colesterol y Triglicéridos, Bronquitis Crónica, Infecciones Urinarias y Respiratorias etc.
                %p.paragraph.justify La especialidad médica gastroenterología esta ligada a la medicina interna de esta manera el médico realiza una valoración integral  del paciente y sus enfermedades.
                %p.paragraph.justify Finalmente la medicina interna es la especialidad médica no quirurgica.
                %button.ui.green.button#mInterna Play Video
                .top-30.ui.embed.display-none{"data-source":"youtube","data-id":"rZv6D5qsLt8"}

    .top-30
      .gray-darken.big-padding-2.footer#footer
        .row.center-xs.text-left
          .col-lg-9
            .box
              .row.center-xs.text-left
                .col-xs-6.col-sm-3.col-md-3.col-lg-3
                  .box
                    %p.paragraph.white-text Enlaces
                    %ul
                      %li
                        %a.white-text.menu-link{href:"#especialidades"} Inicio
                .col-xs-6.col-sm-3.col-md-3.col-lg-3
                  .box
                    %p.paragraph.white-text Redes Sociales
                    %a{href:"https://www.facebook.com"}
                      %i.fa.fa-facebook-square.fa-2x.white-text
                    %a{href:"https://www.twitter.com"}
                      %i.fa.fa-twitter-square.fa-2x.white-text
                    %a{href:"https://www.gmail.com"}
                      %i.fa.fa-envelope.fa-2x.white-text
                .col-xs-10.col-sm-10.col-md-12.col-lg-12
                  .box
                    .top-30
                    %p.thin.white-text Calle independencia #80 entre Vicente Guerrero y Callejon Morelos, San Francisco Tlaltenco Delegación Tlahuac Ciudad de México
                    %p.thin.white-text Telefonos:
                    %p.thin.white-text 55-51-96-18-98  /  55-34-60-09-96





    %script{src:"https://code.jquery.com/jquery-3.1.1.min.js"}
    %script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyC4ObmRjEwgl4toHvl0bLhVeRZS0c_4Gps"}
    %script{src:"./js/semantic.min.js"}
    %script{src:"./js/medicina.js?version=3.2"}
